@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@font-face {
  font-family: "SignPainter";
  src: url("../src/ressources/fonts/SignPainter HouseScript Regular.ttf")
    format("Truetype");
}

.App {
  /* text-align: center; */
  background-image: url("../src/ressources/img/bg-home.jpg");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
h1 {
  margin: 0;
}
.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.textTitle {
  font-family: "SignPainter";
  font-size: 120px;
}
.textTitleCard {
  font-family: "SignPainter";
  font-size: 40px;
  color: black !important;
}

.textSubTitle {
  font-family: "Lato", sans-serif;
  font-weight: 1200;
}

FormHelperText {
  color: red;
}
.podrozInline {
  font-family: "SignPainter";
  font-weight: 800;
  font-size: 23px;
}
