<html>
{% load extra %}
{% load static %}

<!-- Import de bootstrap + jQuery-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
</script>



<!-- Import css personnalisé -->
<link rel="stylesheet" type="text/css" href="{% static 'AjaxTest/style.css' %}">

<!-- Import font -->
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<!-- Import icones FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<!-- Header -->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="/static/images/transpa.png" width="125" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stocks">Gestion de stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fabrication">Fabrication</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/commandes">Commandes<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
                Contact : dwatte@papilla.fr
            </span>
        </div>
    </nav>
</header>

<body>
    <section class="container">
    <h1 style="text-align:center; color:white; font-family: 'Quicksand', sans-serif; padding-top:20px;"> Visualisation des commandes</h1>
    <section class="container" style="background-color:rgb(229,227,225); border-radius:25px;">
        <h2 style="text-align:center; font-family: 'Quicksand', sans-serif; color : #EB008A">Récapitulatif des commandes</h2>
    <div style="padding-bottom:20px">
      <table class="table table-sm  table-striped">
        <thead>
          <tr>
            <th scope="col" class="tabHeaderStyle">Parfum</th>
            {% for franchise in franchise_BDD %}
            <th scope="col" class="tabHeaderStyle">{{franchise.franchise_name}}</th>
            {% endfor %}
            <th scope="col" class="tabHeaderStyle">Total commandes </th>
          </tr>
        </thead>
        <tbody>
          {% for parfum in parfum_BDD %}
          <tr>
            <th scope="row" class="">{{parfum.parfum_text}}</th>
            {% for franchise in franchise_BDD %}
            <th scope="row" class="text-align:center">
              {% count_ordered_by_franchise glace_BDD parfum.id franchise.franchise_name %}</th>
            {% endfor %}
            <th scope="row" style="{% if glace_BDD|count_todo2:parfum.id > 0 %} color:red; {% endif %}color: #EB008A">
              {{glace_BDD|count_command:parfum.id}} {% if glace_BDD|count_todo2:parfum.id > 0 %} dont
              {{glace_BDD|count_todo2:parfum.id}} manquant(s) {% endif %} </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <h2 style="text-align:center; font-family: 'Quicksand', sans-serif; color : #EB008A">Détails des commandes</h2>
    <div style="padding-bottom:20px">
      <table class="table table-sm table-dark table-striped">
        <thead>
          <tr>
            <th scope="col" class="tabHeaderStyle">Parfum</th>
            <th scope="col" class="tabHeaderStyle">Date de commande</th>
            <th scope="col" class="tabHeaderStyle">Franchise/client</th>
          </tr>
        </thead>
        <tbody>
          {% for parfum in parfum_BDD %}
          {% for g in glace_BDD|in_category:parfum.id %}
          {% if g.status == 'Todo' or g.status == 'Ordered'%}
          <tr {% if g.status == 'Todo'%} class='bg-danger' {% endif %}>
            <th scope="row">{{parfum.parfum_text}}</th>
            <td style="text-align:center">{{ g.commande_time }}</td>
            <td style="text-align:center">{{ g.franchise_name }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    </section>
    </section>
</body>

</html>